{% extends 'base.html.twig' %}

{% block title %}DepartmentsEmployees index{% endblock %}

{% block body %}
    <h1>DepartmentsEmployees index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departments_employee in departments_employees %}
            <tr>
                <td>{{ departments_employee.id }}</td>
                <td>
                    <a href="{{ path('app_departments_employees_show', {'id': departments_employee.id}) }}">show</a>
                    <a href="{{ path('app_departments_employees_edit', {'id': departments_employee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_departments_employees_new') }}">Create new</a>
{% endblock %}
