{% extends 'base.html.twig' %}

{% block title %}New DepartmentsEmployees{% endblock %}

{% block body %}
    <h1>Create new DepartmentsEmployees</h1>

    {{ include('departments_employees/_form.html.twig') }}

    <a href="{{ path('app_departments_employees_index') }}">back to list</a>
{% endblock %}
