{% extends 'base.html.twig' %}

{% block title %}DepartmentsEmployees{% endblock %}

{% block body %}
    <h1>DepartmentsEmployees</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ departments_employee.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_departments_employees_index') }}">back to list</a>

    <a href="{{ path('app_departments_employees_edit', {'id': departments_employee.id}) }}">edit</a>

    {{ include('departments_employees/_delete_form.html.twig') }}
{% endblock %}
